@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0a192f #020c1b;
}
body {
  color: #a8b2d1;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}
body::-webkit-scrollbar-track {
  background: #020b1b;
}
body::-webkit-scrollbar-thumb {
  background-color: #0a192f;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

.order {
  counter-increment: item 1;
}
.order-item::before {
  content: '0' counter(item) '.';
  margin-right: 5px;
  color: #64ffda;
  font-size: 14px;
  text-align: right;
}

.header-active {
  position: fixed;
  top: -70px;
  left: 0;
  right: 0;
  /* background: rgba(10, 25, 47, 0.85); */
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1); */
}

section {
  margin: 0 auto;
  max-width: 1000px;
}
