// * COLORS

$color-black: #000;
$color-dark: #05364d;
$color-gray: #f8f9fa;
$color-text-gray: #797979;
$color-light-gray: #f8faff;
$color-pink: #f36;
$color-gradient: linear-gradient(to right,
    #1345e6 0%,
    #ed239f 51%,
    #1345e6 100%);
$color-text-gradient: linear-gradient(45deg, #2f59e4 0%, #ed239f 100%);

/*
 *
 * BASIC SETUP
 *
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

a {
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

/*
 *
 * PRELOADER
 *
 */
.preloader {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .block {
            width: 33px;
            height: 33px;
            position: relative;
            display: block;
            transform-origin: -50% center;
            border-radius: 15%;

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: lightblue;
                border-radius: 15%;
                box-shadow: 0px 0px 10px 0px rgba(#1c9fff, 0.4);
            }

            &:nth-child(1) {
                animation: slide 1.5s ease-in-out infinite alternate;

                &:after {
                    animation: color-change 1.5s ease-in-out infinite alternate;
                }
            }

            @for $i from 1 to 5 {
                &:nth-child(#{$i + 1}) {
                    animation: flip-#{$i} 1.5s ease-in-out infinite alternate;

                    &:after {
                        animation: squidge-#{$i} 1.5s ease-in-out infinite alternate;
                    }
                }
            }

            &:nth-child(2):after {
                background-color: #1c9fff;
            }

            &:nth-child(3):after {
                background-color: #1fb1fd;
            }

            &:nth-child(4):after {
                background-color: #22c7fb;
            }

            &:nth-child(5):after {
                background-color: #23d3fb;
            }
        }
    }
}

@keyframes slide {
    0% {
        background-color: #1795ff;
        transform: translatex(0vw);
    }

    100% {
        background-color: #23d3fb;
        transform: translatex(calc(250px - (33px * 1.25)));
    }
}

@keyframes color-change {
    0% {
        background-color: #1795ff;
    }

    100% {
        background-color: #23d3fb;
    }
}

@for $i from 1 to 5 {
    @keyframes flip-#{$i} {

        0%,
        #{$i * 15}% {
            transform: rotate(0);
        }

        #{$i * 15 + 20}%,
        100% {
            transform: rotate(-180deg);
        }
    }

    @keyframes squidge-#{$i} {
        #{$i * 15 - 10}% {
            transform-origin: center bottom;
            transform: scalex(1) scaley(1);
        }

        #{$i * 15}% {
            transform-origin: center bottom;
            transform: scalex(1.3) scaley(0.7);
        }

        #{$i * 15 + 10}%,
        #{$i * 15 + 5}% {
            transform-origin: center bottom;
            transform: scalex(0.8) scaley(1.4);
        }

        #{$i * 15 + 40}%,
        100% {
            transform-origin: center top;
            transform: scalex(1) scaley(1);
        }

        #{$i * 15 + 25}% {
            transform-origin: center top;
            transform: scalex(1.3) scaley(0.7);
        }
    }
}

/*
 *
 * HEADING
 *
 */

h2,
h3,
h4 {
    color: $color-dark;
}

/*
 *
 * REUSEABLE COMPONENTS
 *
 */
.logo {
    color: transparent;
    background: $color-text-gradient;
    -webkit-background-clip: text;
    font-weight: bold;
    margin-bottom: 0;
}

section {
    padding: 3.5rem 0;
}

.top-text {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: $color-text-gray;

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 100px;
        margin-left: 15px;
        height: 2px;
        background: $color-pink;
        filter: blur(4px);
    }
}

.heading-gradient {
    color: transparent;
    background: $color-text-gradient;
    -webkit-background-clip: text;
    font-weight: bold;
}

.little-description {
    font-size: 15px;
    color: $color-text-gray;
    line-height: 27px;
    font-weight: 300;
}

/*
 *
 * BUTTONS
 *
 */
.primary_btn {
    display: inline-block;
    background-image: $color-gradient;
    background-size: 200% auto;
    color: #fff;
    border-radius: 4px;
    padding: 10px 35px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-position: right center;
        color: #fff;
    }
}

.primary_border_btn {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-dark;
    margin-top: 20px;

    &:hover {
        &::before {
            width: 90px;
        }
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: $color-text-gradient;
        width: 45px;
        height: 2px;
        transition: all 0.3s ease-in-out;
    }
}

.port-btn {
    &:first-child {
        margin-left: 0;
    }

    display: inline-block;
    border: none;
    margin: 5px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 20px;
    outline: none !important;
    font-weight: 400;
    font-size: 15px;
    background: rgb(238, 238, 238);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $color-light-gray;
        // transition: all .2s ease-in-out;
        background: $color-pink;
    }
}

.mixitup-control-active {
    color: $color-light-gray;
    // transition: all .2s ease-in-out;
    background: $color-pink;

    &:focus {
        box-shadow: 0 0 0 3px rgba($color-pink, 0.2);
    }
}

/*
 *
 * HEADER SECTION
 *
 */
.header-active {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}

.header-area {
    position: absolute;
}

header {
    width: 100%;
    z-index: 999;
    background: #fff;

    .main-menu {
        .navbar-toggler {
            border: none !important;
            outline: none !important;
        }

        .navbar-right {
            margin-left: 85px;
        }

        .navbar-nav {
            .nav-item {
                margin-left: 30px;
                line-height: 40px;

                .nav-link {
                    letter-spacing: 1.3;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }

        .nav-link-active {
            color: $color-pink !important;
        }

        .nav-link:not(.nav-link-active) {
            color: $color-black !important;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $color-pink !important;
            }
        }
    }
}

/*
 *
 * HOME SECTION
 *
 */

.home {
    // background: url(img/home-banner.webp.png);
    // background-position: top center;
    // background-size: cover;
    // background-repeat: no-repeat;
    width: 100%;
    // min-height: 890px;

    .banner-content {
        h3 {
            font-weight: 400;
            font-size: 18px;
            color: $color-text-gray;
        }

        h5 {
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 0;
            // color: $color-text-gray;
        }

        h1 {
            color: $color-dark;
            font-weight: bold;
            word-spacing: 8px;
            font-size: 45px;
            letter-spacing: 1.5px;
            padding: 15px 0;
        }

        .social-icons {
            a {
                display: inline-block;
                font-size: 25px;
                color: $color-text-gray;
                margin-right: 25px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: $color-text-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: transparent;
                }
            }
        }
    }

    .hero-img {
        padding-top: 141px;
    }

    /*
 *
 * STATISTICS AREA
 *
 */
    .statistics-item {
        margin: 10px 0;
        padding: 30px 15px;
        text-align: center;
        background: $color-light-gray;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        }

        h3 {
            color: transparent;
            background: $color-text-gradient;
            -webkit-background-clip: text;
            font-size: 27px;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            color: $color-text-gray;
        }
    }
}

/*
 *
 * ABOUT SECTION
 *
 */

// .about {
//     .about-content {}
// }

/*
 *
 * SERVICE SECTION
 *
 */

.service {
    .service-item {
        text-align: center;
        padding: 35px;
        background: $color-light-gray;
        transition: all 0.2s ease-in-out;

        h4 {
            margin: 1rem 0;
        }

        &:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        .service-icon {
            margin-bottom: 20px;
        }
    }
}

/*
 *
 * TESTIMONIAL SECTION
 *
 */

.testimonial {
    background: $color-light-gray;

    // background: $color-gray;
    .person-img {
        // height: 150px;
        width: 250px;
        // overflow: hidden;
        // border-radius: 0 35px;
        border: 15px solid #eee;

        img {
            width: 100%;
            // height: 100%;
        }
    }

    .person-comment {
        .rate {
            svg:not(:last-child) {
                color: #ffd804;
            }

            svg:last-child {
                color: $color-text-gray;
            }
        }
    }
}

/*
 *
 * PORTFOLIO SECTION
 *
 */

.portfolio {
    .port-img {
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;

        img {
            object-fit: fill;
            height: 100%;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: linear-gradient(45deg, #2f59e4b4, #ed23a0c4);
            width: 0;
            height: 101%;
            // transform: scaleX(0);
            transition: all 0.3s ease-in-out;
            z-index: 2;
        }

        &:hover {
            &::before {
                // transform: scale(1);
                width: 100%;
            }

            img {
                transform: scale(1.25);
            }

            .view {
                transform: translate(-50%, -50%);
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }

        img {
            width: 100%;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
        }

        .view {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(50%, 50%);
            display: inline-block;
            z-index: 3;
            opacity: 0;
            visibility: hidden;
            color: #fff;
            transition: all 0.3s ease-in-out;
            pointer-events: none;
            font-size: 45px;
        }
    }
}

/*
 *
 * BLOG SECTION
 *
 */

.blog {
    background: $color-gray;

    .blog-content {
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

            .blog-img {
                img {
                    filter: blur(1px);
                    transform: scale(1.1)
                }
            }
        }

        .blog-img {
            overflow: hidden;
            // border: 15px solid rgba($color-pink,0.1);
            // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

            img {
                transform: scale(1);
                transition: all .5s ease-in-out;
            }
        }

        .publish-info {
            a {
                color: #1fb1fd !important;
            }

            color: #1fb1fd !important;
        }
    }
}